.gallery {
display: flex;
gap: 25px;
margin: 1rem;
flex-wrap: wrap;
justify-content: space-evenly;
}
.gallery-image{
  border-radius: 20%;
  transition: all ease-out .5s;
}

.gallery-image:hover{
  width: 400px;
  transition: all ease-in .5s;
}